* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: gray;
}
.button_div {
  padding: 15px;
}
.title_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button_div button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.question {
  display: flex;
}
.question h1 {
  text-align: center;
}
.application_div {
}
